body {
   padding-top: 70px;
   /*padding-bottom: 20px;*/
}

.acteurNaam {
   font-weight: bold;
}

.acteurKarakter {
   font-size: large;
}

.padding0 {
   padding: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
   padding-left: 15px;
   padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
   white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
   max-width: 280px;
}

.testimonial-group > .row {
   overflow-x: auto;
   white-space: nowrap;
}

.testimonial-group > .row > .col-lg-3, .col-md-3, col-md-4, col-sm-5, col-sm-6, col-xs-12 {
   display: inline-block;
   float: none;
}

.btnzoeken {
   margin: 15px 0;
}

.poster {
   position: relative;
}

   .poster img {
      /*margin: 1%;*/
      margin-bottom:25px;
   }

   .poster a {
      color: inherit;
   }

   .poster h4 {
      text-align: center;
   }

   .poster .overlayPoster {
      bottom: 10px;
   }

   .overlayZichtbaar {
      opacity: 1!important;
   }

.image {
   opacity: 1;
   display: block;
   width: 100%;
   height: auto;
   transition: .5s ease;
   backface-visibility: hidden;
}

.overlayPoster {
   transition: .5s ease;
   opacity: 0;
   position: absolute;
   bottom: -15px;
   left: 0;
   padding: 15px;
   text-align: center;
   width: 100%
}

.posterhovered {
   opacity: 0.3;
}

.overlayhovered {
   opacity: 1;
}

.poster:hover .image {
   /*opacity: 0.3;*/
}

.poster:hover .overlayPoster {
   opacity: 1;
}

.posterOverlayContent {
   background-color: white;
   opacity: .9;
   color: black;
   font-size: 20px;
   padding: 5px;
   white-space: normal;
}
.poster92 {
   max-height: 92px;
   width: auto;
}

.poster154 {
   max-height: 154px;
   width: auto;
}
