@model Trakt.Models.AdminViewModel

<h2>Films</h2>

<div class="row">
   <div class="col-md-4">
      <div class="panel panel-primary">
         <div class="panel-heading">
            <h3 class="panel-title">Film Toevoegen</h3>
         </div>
         <div class="panel-body">

         </div>
      </div>
   </div>
   <div class="col-md-4">
      <div class="panel panel-primary">
         <div class="panel-heading">
            <h3 class="panel-title">Film Data Updaten</h3>
         </div>
         <div class="panel-body">

         </div>
      </div>
   </div>
   <div class="col-md-4">
      <div class="panel panel-primary">
         <div class="panel-heading">
            <h3 class="panel-title">Collectie Updaten</h3>
         </div>
         <div class="panel-body">

         </div>
      </div>
   </div>
</div>